<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anaghafish"
        tools:targetApi="31">

        <activity
            android:name=".otplogin.entermobilenumberone"
            android:exported="true"></activity>
        <activity
            android:name=".first.registerpage"
            android:exported="true"></activity>
        <activity
            android:name=".vendor.VenderActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".otplogin.verifyenterotptwo"
            android:exported="false" />
        <activity
            android:name=".otplogin.entermobilenumberone1"
            android:exported="true"></activity>
        <activity
            android:name=".otplogin.verifyenterotptwo1"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".Useractivity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".otplogin.LoginUsername"
            android:exported="true"></activity>
        <activity
            android:name=".otplogin.LoginUsernametwo"
            android:exported="true"></activity>
        <activity
            android:name=".login.CustomerLogin"
            android:exported="true"></activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".login.VendorLogin"
            android:exported="true"></activity>
        <activity
            android:name=".VendorCat"
            android:exported="true"></activity>

        <activity
            android:name=".first.splash"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.razorpay.Apikey"
            android:value="rzp_test_18P57LdQikECv4" />
    </application>

</manifest>